*{
    margin: 0;
    padding: 0;
}

.search-form{
    background: linear-gradient(to bottom, black 40%,#182747,#25316D);
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#서치로고 {

    width:82px;
    height: 48px;
    position: absolute;
    top: 5px;
    left: 12px;
  

}

.search-screen{
    width: 600px;
    height: 700px;
    background-color: rgba(0, 0, 0.5, 0.5);
    display: flex;
    justify-content: center;
}

.search-screen input{
    margin-top: 100px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-style: 2px solid lightgray;
    /* position: relative;
    left: 50px; */
    margin-bottom: 30px;
}

.search-screen input:hover {
    outline-color: #8be8f5;
}

.search__header{
    display: flex;
    flex-direction: column;
    align-items: center
}

.search__header h3{
  margin-left: 50px;
  font-family: 'Happiness-Sans-Title';

}

.search__header p{
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  /* left: 130px; */
}

.rankings{
    display: flex;
    flex-direction: column;
   align-items: center;
    color: white;
    font-family: 'InfinitySans-RegularA1';
   
}

.rankings div{
    position: relative;
    right: 15px;
    display: flex;
   flex-direction: column;
    border-bottom: 1px solid rgba(230, 230, 243, 0.5);
}


.modal_search{
     position: relative;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 10%;
    left: 25%;
    width: 800px;
    height: 750px;
    transition: all 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#000000 50%,#1E2C59);
    color: white;
    border-radius: 10px;
}